#app {
  position: relative;
  width: 100svw;
  height: 100svh;
}

#mode-feat {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 100;
  background-color: rgba(202, 202, 222, 0.6);
  border: 1px solid rgb(202, 202, 222);
  margin: 0;
  padding: 0.25rem 1rem 0.25rem 0.25rem;
  display: flex;
  gap: 2rem;
  border-radius: 4px;
  backdrop-filter: blur(4px);
}

#mode-feat > button {
  display: flex;
  gap: 0.5rem;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  font-size: 16px;
  color: #000028;
  cursor: pointer;
  align-items: center;
}

#mode-feat > button > span:first-child {
  color: #ffffff;
  border-radius: 2px;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  background-color: rgba(147, 147, 197, 0.9);
  transition: background-color .2s ease-in-out;
}
#mode-feat.translate > button > #translate-key {
  background-color: rgba(8, 153, 64, 0.9);
}
#mode-feat.rotate > button > #rotate-key {
  background-color: rgba(8, 153, 64, 0.9);
}
#mode-feat.scale > button > #scale-key {
  background-color: rgba(8, 153, 64, 0.9);
}

#snap-feat {
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 100;
  background-color: rgba(202, 202, 222, 0.6);
  border: 1px solid rgb(202, 202, 222);
  margin: 0;
  padding: 0.25rem 0.5rem;
  display: flex;
  gap: 0.5rem;
  border-radius: 4px;
  backdrop-filter: blur(4px);
  color: #000028;
  cursor: pointer;
}
